/* Reset some basic elements */
*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    /*line-height: 4;*/
    background-image: url(ship.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* Hero section styling */
.hero {
    color: #fff;
    padding: 50px 20px;
    text-align: center;
    font-size: 1.2rem;
}


/* Navigation bar styling */
.nav-bar {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
}

.nav-bar a.logo, .nav-links a {
    color: #fff;
    text-decoration: none;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline;
    margin-left: 60px;
}

.hero-content h1 {
    margin-bottom: 20px;
    margin-top: 40px;
}

.hero-content p {
    margin-bottom: 40px;
}

.learn-button {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 5px;
}

.learn-button:hover {
    background-color: #555;
    transition : all 3s ease-in-out;
}
